 /* =============================================
 * Tabla de ultimos 5.
 * ============================================= */
/* ----- Texto Principal.  ------. */
/* Header de bienvenida */
.contenido-adopc-home {
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-family: "Helvetica", "sans-serif";
    justify-content: space-evenly;
    align-items: center;
}

/* Texto del header */
.titulo-pagina {
    text-align: center;
}

/* Texto principal */
.introduccion-pagina {
    flex-direction: column;
    border-style: none;
    padding: 20px;
    margin-bottom: 20px;
}

/* ----- Tabla de ultimos 5.  ------. */
/* Tabla. */
.publicado-contenedor {
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(5, 1fr);
    border: 1px solid #cccccc;
}

/* Contenidos de la tabla.*/
.item-contenedor {
    padding: 15px;
    text-align: center;
    border: 1px solid #dddddd;
    background-color: #f9f9f9;
}

/* Titulo de items en la tabla. */
.item-contenedor.titulo {
    background-color: #e5e5e5;
}