<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>
<footer th:fragment="footer" class="footer-bar">
    <div class="footer-contenido">
        <p>Desarrollado por Jorge Cummins.</p>
        <ul class="footer-links">
            <li>
                <a href="https://github.com/JorgeCSH/desarrollo_web_jorge_cummins"
                   class="footer-links-link"
                   target="_blank"
                   rel="noopener noreferrer">
                    Repositorio de la página
                </a>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>