{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recent-five.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/adoption-form.css') }}">
{% endblock %}

{% block title %}Poner en Adopcion{% endblock %}

{% block content %}
<div class="contenido-adopc-home">
    <h1 class="cabecera-adopcion">Publicar Mascota en Adopcion</h1>
    <p>Proceda a completar el formulario para poner una mascota en adopcion.</p>
</div>

<div>
    <form id="form-adopcon" class="form-contenedor">
        <p class="obligatorio">* De caracter <strong>obligatorio</strong>. </p>

        <!-- Ubicacion -->
        <h4><u>¿Dónde?</u></h4>
        <label for="region">Región*</label>
        <select id="region" name="region" required>
            <option value="">Seleccione una región</option>
        </select>

        <label for="comuna">Comuna*</label>
        <select id="comuna" name="comuna" required>
            <option value="">Seleccione primero la región</option>
        </select>

        <label for="sector">Sector</label>
        <input type="text" id="sector" name="sector" maxlength="100">

        <!-- Contacto-->
        <h4><u>¿Contacto de esta publicación?</u></h4>

        <label for="nombre">Nombre*</label>
        <input type="text" id="nombre" name="nombre" minlength="3" maxlength="100" required>

        <label for="email">Email*</label>
        <input type="email" id="email" name="email" maxlength="100" required>

        <label for="telefono">Número de celular</label>
        <input type="tel" id="telefono" name="telefono"  placeholder="+569.12345678">

        <label for="red">Contactar por</label>
        <select id="red" name="red">
            <option value="">Seleccione</option>
            <option value="whatsapp">WhatsApp</option>
            <option value="telegram">Telegram</option>
            <option value="X">X (ex: twitter)</option>
            <option value="instagram">Instagram</option>
            <option value="tiktok">TikTok</option>
            <option value="otra">Otra</option>
        </select>

        <div id="red-id-container" style="display:none;">
            <label for="red-id">ID o URL de contacto</label>
            <input type="text" id="red-id" name="red-id" minlength="4" maxlength="50">
        </div>

        <!-- Informacion del animal -->
        <h4><u>¿Qué mascota ofrece en adopción?</u></h4>

        <label for="tipo">Tipo*</label>
        <select id="tipo" name="tipo" required>
            <option value="">Seleccione</option>
            <option value="perro">Perro</option>
            <option value="gato">Gato</option>
        </select>

        <label for="cantidad">Cantidad*</label>
        <input type="text" id="cantidad" name="cantidad" minlength="1" required>

        <label for="edad">Edad*</label>
        <input type="text" id="edad" name="edad" minlength="1" required>

        <label for="unidad">Unidad de medida*</label>
        <select id="unidad" name="unidad" required>
            <option value="">Seleccione</option>
            <option value="meses">Meses</option>
            <option value="años">Años</option>
        </select>

        <label for="fecha">Fecha disponible*</label>
        <input class="fecha" type="datetime-local" id="fecha" name="fecha" required>

        <label for="descripcion">Descripción</label>
        <textarea id="descripcion" name="descripcion" cols="50" rows="10"></textarea>

        <label>Fotos*</label>
        <div id="fotos-container">
            <input type="file" name="foto" multiple accept="image/*" required>
        </div>

        <button type="submit">Agregar este aviso de adopción</button>
    </form>

    <div id="val-box" hidden>
        <h2 id="val-msg">Aca habria un mensaje</h2>
        <ul id="val-list"></ul>
    </div>

    <!-- Mensaje de confirmacion -->
    <div id="confirmacion" style="display:none;">
        <p>¿Está seguro que desea agregar este aviso de adopción?</p>
        <button id="confirmar-si">Sí, estoy seguro</button>
        <button id="confirmar-no">No, quiero volver al formulario</button>
    </div>

    <div id="mensaje-exito" style="display:none;">
        <p>Hemos recibido la información de adopción, muchas gracias y suerte!</p>
        <button id="volver-portada">Volver a la portada</button>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='scripts/javascript/db/region_comuna.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='scripts/javascript/form/adoption-form.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='scripts/javascript/form/validation.js') }}"></script>
{% endblock %}