{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/stats.css') }}">
{% endblock %}

{% block title %}Estadísticas{% endblock %}

{% block content %}
<div class="contenido-adopc-home">
    <div class="introduccion-pagina">
        <h1>Estadisticas de adopcion Registradas</h1>
        <p>A continuacion se despliegan graficos donde de informacion recopilada y expuesta sobre los avisos, adopcion y las caracteristicas que estos poseen.</p>
    </div>
    <div class="stats-container">
        <div class="cajas">
            <img src="{{ url_for('static', filename='img/stats/avisos-dia.png') }}" alt="" class="graficos">
        </div>
        <div class="cajas">
            <img src="{{ url_for('static', filename='img/stats/avisos-torta.png') }}" alt="" class="graficos">
        </div>
        <div class="cajas">
            <img src="{{ url_for('static', filename='img/stats/mascota-mes.png') }}" alt="" class="graficos">
        </div>
    </div>
    <div class="inicio-container">
        <a href="{{ url_for('index') }}" class="volver-portada">Volver a la portada</a>
    </div>
</div>
{% endblock %}