<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- CSS para todas las paginas -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/body.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/top-footer.css') }}">
    <!-- CSS específico de cada página -->
    {% block extra_css %}{% endblock %}
    <title>{% block title %}Adopción de Mascotas{% endblock %}</title>
</head>
<body>
<!-- Barra superior de la pagina -->
<nav>
    <ul class="nav-bar">
        <li><a class="nav-link home {% if request.endpoint == 'index' %}actual{% endif %}" href="{{ url_for('index') }}">Inicio</a></li>
        <li><a class="nav-link {% if request.endpoint == 'adoption_list' %}actual{% endif %}" href="{{ url_for('adoption_list') }}">Listado</a></li>
        <li><a class="nav-link {% if request.endpoint == 'adoption_stats' %}actual{% endif %}" href="{{ url_for('adoption_stats') }}">Estadísticas</a></li>
        <li><a class="nav-link {% if request.endpoint == 'add_adoption' %}actual{% endif %}" href="{{ url_for('add_adoption') }}">Publicar Aviso</a></li>
    </ul>
</nav>

<!-- Contenido de la pagina -->
<main>
    {% block content %}{% endblock %}
</main>

<!-- Scripts específicos de cada página -->
{% block extra_js %}{% endblock %}

<!-- Fin de la pagina -->
<footer class="footer-bar">
    <div class="footer-contenido">
        <p>Desarrollado por Jorge Cummins.</p>
        <ul class="footer-links">
            <li>
                <a href="https://github.com/JorgeCSH/desarrollo_web_jorge_cummins" class="footer-links-link">
                    Repositorio de la página
                </a>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>