{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/recent-five.css') }}">
{% endblock %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="contenido-adopc-home">
    <div class="introduccion-pagina">
        <div>
            <h1 class="titulo-pagina">Bienvenido a la página de adopcion de mascotas</h1>
            <p>Esta página fue creada con el fin de dar un medio cómodo para la adopción de mascotas, desde el proceso de adoptar como de dar en adopción. Acá encontrarás desde las posibilidades de adoptar con toda la información de la mascota (que en caso de querer dar en adopción deberás de ingresar) como estadísticas de estos procesos..</p>
        </div>
    </div>
    <p>Ultimas 5 mascotas puestas en adopcion</p>
    <div id="get-last-pub" class="publicado-contenedor">
        <!-- Titulo de la lista -->
        <div class="item-contenedor titulo">Fecha de Publicacion</div>
        <div class="item-contenedor titulo">Comuna</div>
        <div class="item-contenedor titulo">Sector</div>
        <div class="item-contenedor titulo">Cantidad, Tipo y Edad</div>
        <div class="item-contenedor titulo">Foto</div>
        <!-- Las ultimas 5 publicaciones se cargan con JS -->
    </div>
</div>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='scripts/javascript/last-five.js') }}"></script>
{% endblock %}