/* Estilo principal. */
.contenido-adopc-home {
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-family: "Helvetica", "sans-serif";
    justify-content: space-evenly;
    align-items: center;
}

/* Estilo de la parte superior. */
.contenido-adopc-home head {
    font-family: "Helvetica", "sans-serif";
    align-items: center;
}

/* Para las imagenes. */
/* Contenedor. */
.stats-container {
    display: flex;
    flex-direction: row;
    font-family: "Helvetica", "sans-serif";
    justify-content: flex-start;
}
/* Imagenes.*/
.cajas {
    object-fit: contain;
    padding: 20px
}
.graficos {
    object-position: center;
    width: 100%;
    height: 100%;
}

/* Para volver al inicio/portada. */
.inicio-container {
    font-family: "Helvetica", "sans-serif";
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.volver-portada {
    text-decoration: none;
    cursor: pointer;
    font-family: "Helvetica", "sans-serif";
    color: #000000;
}